:root {
    --main-black: #212121;
    --grey-color: #757575;
    --main-white: #ffffff;
    --blue-color: #2196f3;
    --regular-font-weight: 400px;
    --medium-font-weight: 500px;
    --bold-font-weight: 700px;
}

.a {
    text-decoration: none;
}

.list {
    list-style: none;
}

.img {
    display: block;
}

.button {
    font-family: inherit;
    cursor: pointer;
}

body {
    background-color: var(--main-white);
    font-family: 'Roboto', sans-serif;
}

.menu {
    width: 1600px;
    background-color: var(--main-white);
}

.menu-nav-logo {
    width: 145px;
    color: var(--main-black);
    font-family: 'Raleway', sans-serif;
    font-weight: var(--bold-font);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.menu-nav-list-item-link {
    color: var(--main-black);
    width: 45px;
}

.menu-information-list-item-link-tel,
.menu-information-list-item-link-mail {
    color: var(--grey-color);
    width: 122px;
}

.menu-nav-list-item-link:hover,
.menu-nav-list-item-link:focus,
.menu-information-list-item-link-mail:hover,
.menu-information-list-item-link-mail:focus,
.menu-information-list-item-link-tel:hover,
.menu-information-list-item-link-tel:focus {
    color: var(--blue-color);
}

.page-main-section {
    width: 1600px;
    background-color: #2F303A;
}

.page-main-section-title {
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.page-main-section-btn {
    width: 216px;
    background-color: var(--blue-color);
    color: var(--main-white)
}

.page-features-section {
    width: 1170px;
}

.page-features-section-list-item-title {
    color: var(--main-black);
}

.page-features-section-list-item-text {
    color: var(--grey-color);
}

.page-about-section {
    width: 1170px;
}

.page-about-section-title {
    color: var(--main-black);
}

.page-about-section-list-item-img {
    width: 370px;
    height: 294px;
}

.page-team-section {
    width: 1600px;
    background-color: #F5F4FA;
}

.page-team-section-title {
    width: 264px;
    color: var(--main-black);
    font-weight: var(--bold-font-weight);
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.page-team-section-list-img {
    width: 270px;
    height: 260px;
}

.page-team-section-list-title {
    width: 129px;
    color: var(--main-black);
    font-weight: var(--medium-font-weight);
    font-size: 16px;
    line-height: 1.19;
}

.page-team-section-list-text {
    width: 130px;
    color: var(--grey-color);
    font-weight: var(--regular-font-weight);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.page-footer {
    width: 1600px;
    background-color: #2F303A;
}

.page-footer-logo {
    width: 145px;
    font-family: 'Raleway', sans-serif;
    font-weight: var(--bold-font-weight);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-white);
}

.page-footer-list {
    width: 231px;
}

.page-footer-list-item-location-link {
    width: 231px;
    color: var(--main-white);
    font-weight: var(--regular-font-weight);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

.page-footer-list-item-mail-link,
.page-footer-list-item-tel-link {
    width: 231px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}